<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            @import '/css/styles.css';
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <header>
        <nav>
            <ul>
                <a href="/">Home</a><a href="/nurl">NURL's</a><a href="/tag">Tags</a><a href="/login">Login</a>
            </ul>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
