{% extends 'base.html.twig' %}

{% block pageTitle %}Home page{% endblock %}

{% block body %}

<div id ="container">
    <h1>Welcome to Our NURL Manager</h1>
    <div id="center">
        <p>
            NURL WAHYHHHHHH!
        </p>
    </div>
</div>

{% endblock %}
