{% extends 'base.html.twig' %}

{% block pageTitle %}admin home page{% endblock %}

{% block body %}
    <h1>welcome to ADMIN home page</h1>
    <div class="adminContainer">
        <ul>
            <li>
                <a href="{{ path('admin_nurls') }}">Go to Nurl's list</a>
            </li>
            <li>
                <a href="{{ path('admin_tags') }}">Go to Tags list</a>
            </li>
        </ul>
    </div>
{% endblock %}