*{
    font-family: 'Lato', sans-serif;
    color: #595959;
}

body {
    min-width: 45%;
    max-width: 51%;
    min-height: 360px;
    max-height: 370px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    overflow-y: scroll;
    background: #d89684;
}

h1 {
    text-align: center;
}

nav{
    text-align: center;
}

nav a{
    border-radius: 10px;
    text-decoration: none;
    margin-left: .5em;
    margin-right: .5em;
    padding-left:1em;
    padding-right:1em;
    padding-top:.5em;
    padding-bottom:.5em;
    transition: .5s;
}

nav a:hover{
    background: #d86259;
    transition: .5s;
}

p{
    text-align: center;
}